.App__day-checklist {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px;

  button.close {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: crimson;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    z-index: 2;

      span {
        margin-top: -3px; // slide x up
      }
  }
}

.day-checklist__group {
  margin-top: 20px;
}

.group__checklist {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
  padding-left: 10px;

  input {
    margin-left: 5px;
  }
}

.day-checklist__save {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  button {
    background-color: #282828;
    color: white;
    border: 0;
    font-size: 18px;
    padding: 10px 20px;
  }
}